{% extends 'base.html' %}

{% block content %}
  <h1>Parent: {{ child.parent.user }}</h1>
  <br>
  <h1>Child: {{ child.get_full_name }}</h1>

  {% if time_list.checkin == True %}
    <h3>On Site</h3>
    <a href="{% url 'time_update_view' object.id %}">CheckOut</a>
  {% else %}
    <h3>Not On Site</h3>
    <a href="{% url 'time_update_view' object.id %}">CheckIn</a>
  {% endif %}
  <br> <br>
  Checkin: {{ child.get_time.checkin_time }}<br>
  Checkout: {{ child.get_time.checkout_time }}

  {% comment %}
    <form class="" action="{% url 'child_update_view' object.id %}" method="post">
        {% csrf_token %}
        Checkin: <input type="checkbox" name="checkin" value="">
        <input type="submit" name="" value="Checkin!">
    </form>
  {% endcomment %}
{% endblock %}
