{% extends 'base.html' %}

{% block content %}


  {% comment %}
    <form class="" action="{% url 'child_create_view' %}" method="post">
        {% csrf_token %}
        <input type="text" name="first_name" value="" placeholder="First Name">
        <input type="text" name="last_name" value="" placeholder="Last Name">
        <select class="" name="parent">
          {% for parent in profile_list %}
            <option value="parent">{{ parent.user }}</option>
          {% endfor %}
        </select>
      <input type="submit" name="" value="Register">
    </form>
  {% endcomment %}

  <br>
  <br>

    <h4>Child's Name, Pin Number</h4>

  {% for child in child_list %}
    <p>
      {{ child.get_full_name }} {{ child.pincode }}
    </p>
  {% endfor %}

{% endblock %}
