{% extends 'base.html' %}

{% block content %}
  <a href="{% url 'time_create_view' object.id %}">Initial Checkin</a>

  <h1>Child: {{ object.get_full_name }}</h1>

  <br> <br>
  {% for x in object.get_time %}
    {% if x.checkin == True %}
      <h3>On Site</h3>
      <a href="{% url 'time_update_view' object.id %}">CheckOut</a>
    {% else %}
      <h3>Not On Site</h3>
      <a href="{% url 'time_update_view' object.id %}">CheckIn</a>
    {% endif %}
    <br><br>
      Checkin: {{ x.checkin_time }}<br>
      Checkout: {{ x.checkout_time }} <br>
      <h4>Total Time Spent: {{ x.daily_time }}</h4>
  {% endfor %}
  <br><br>
  <h3>Payment: ${{ object.total_payment|floatformat:2 }}</h3>


  {% comment %}
    <form class="" action="{% url 'child_update_view' object.id %}" method="post">
        {% csrf_token %}
        Checkin: <input type="checkbox" name="checkin" value="">
        <input type="submit" name="" value="Checkin!">
    </form>
  {% endcomment %}
{% endblock %}
