{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Checkin</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style media="screen">
    body {
      background-color: #49c080;
    }
    h2 {
      text-decoration: underline;
    }
    h1 {
      text-decoration: underline;
      text-align: center;
    }
    .title {
      text-align: center;
    }
    .panel-body {
      text-align: center;
    }
    #table-head {
      text-align: center;
    }
    img {
      height: 395px;
      width: 450px;
    }
    .title {
      color: white;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
          <p class="navbar-text">Stop 'n Play Daycare</p>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Navigate<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="{% url 'index_view' %}">Home</a></li>
                  <li><a href="{% url 'child_create_view' %}">Add a Child</a></li>
                  <li><a href="{% url 'user_create_view' %}">New Parent/Employee</a></li>
                  <li><a href="{% url 'employee_list_view' %}">View Class Roster</a></li>
                  {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                  {% else %}
                    <li><a href="{% url 'profile_view' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}?next={% url 'index_view' %}">Logout</a></li>
                  {% endif %}
              </ul>
            </li>
            <p class="navbar-text navbar-right">Signed in as {{ request.user }}</p>
          </ul>


      </nav>
      {% block content %}

      {% endblock %}
    </div>

  </body>
</html>
