{% extends 'base.html' %}

{% block content %}
  {% if request.user.profile.is_employee %}
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-warning">
        <div class="panel-heading" id="table-head">
          <h3>Children On Site</h3>
        </div>
        <div class="panel-body">
          {% for x in class_list %}
            {% if x.checkin %}
              {{ x.child.get_full_name }}<br><br>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
